//
//  FishLampPrerelease-TestApp-OSX-64-ARC.xcconfig
//  FishLampPrerelease
//
//  Created by Mike Fullerton on 9/9/13.
//  Copyright (c) 2013 Mike Fullerton. All rights reserved.
//

#include "XcodeBuildSupportConfigs/TargetSettings/OSX-64-ARC.xcconfig"
#include "FishLampPrerelease-Tests/FishLampPrerelease-Tests-SharedTargetSettings.xcconfig"
