//
//  SharedTargetSettings.xcconfig
//  FishLampPrerelease
//
//  Created by Fullerton, Mike on 9/9/13.
//  Copyright (c) 2013 Mike Fullerton. All rights reserved.
//


GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = FishLampPrerelease-Tests/FishLampPrerelease-Tests-Prefix.pch

INFOPLIST_FILE = FishLampPrerelease-Tests/FishLampPrerelease-Tests-Info.plist

WRAPPER_EXTENSION = xctest
MACH_O_TYPE = mh_bundle
OTHER_LDFLAGS = $(inherited) -framework XCTest
