
PIECEMEAL_SETTINGS = PIECEMEAL=1
PIECEMEAL_DEBUG =

GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = NO
GCC_TREAT_INCOMPATIBLE_POINTER_TYPE_WARNINGS_AS_ERRORS = NO
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_VERSION =
ONLY_ACTIVE_ARCHL = NO;

// Misc settings
ALWAYS_SEARCH_USER_PATHS = NO
VERSIONING_SYSTEM = apple-generic
STRIP_INSTALLED_PRODUCT = NO

// build settings
COMBINE_HIDPI_IMAGES = YES
COPY_PHASE_STRIP = NO

// runtime settings
CLANG_ENABLE_OBJC_ARC = YES
GCC_ENABLE_OBJC_EXCEPTIONS = YES

// this is YES in DEBUG
ENABLE_NS_ASSERTIONS = NO

// Compiler settings
GCC_C_LANGUAGE_STANDARD = compiler-default
CLANG_CXX_LIBRARY = libc++
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

// this is turned off in DEBUG
GCC_OPTIMIZATION_LEVEL = s

// Override these in your settings if need
PRODUCT_NAME = $(TARGET_NAME)
HEADER_SEARCH_PATHS = $(inherited)

// Note this needs to be hear to load objctive-c from a library
OTHER_LDFLAGS = -all_load -ObjC

//:configuration = Debug
FRAMEWORK_SEARCH_PATHS = $(inherited) $(DEVELOPER_FRAMEWORKS_DIR)

VALIDATE_PRODUCT = YES


