//
//  FishLampCore-Test-OSX-64-MRC.xcconfig
//  FishLampCore
//
//  Created by Mike Fullerton on 9/9/13.
//  Copyright (c) 2013 Mike Fullerton. All rights reserved.
//

#include "Piecemeal-XcodeConfigs/TargetSettings/Piecemeal-TargetSettings-OSX-64-MRC.xcconfig"
#include "TestTool/TestTool-SharedTargetSettings.xcconfig"

