//
//  FishLampPrerelease-TestApp-OSX-32-MRC.xcconfig
//  FishLampPrerelease
//
//  Created by Mike Fullerton on 9/9/13.
//  Copyright (c) 2013 Mike Fullerton. All rights reserved.
//

#include "XcodeBuildSupportConfigs/TargetSettings/OSX-32-MRC.xcconfig"
#include "FishLampPrerelease-TestApp-OSX/FishLampPrerelease-TestApp-SharedTargetSettings.xcconfig"
