//
//  SharedTargetSettings.xcconfig
//  FishLamp-Objc
//
//  Created by Fullerton, Mike on 9/9/13.
//  Copyright (c) 2013 Mike Fullerton. All rights reserved.
//

#include "Piecemeal-XcodeConfigs/Configs/Piecemeal-IncludedConfig-OSXTestApp.xcconfig"

WRAPPER_EXTENSION = app
MACH_O_TYPE = mh_execute

GCC_PRECOMPILE_PREFIX_HEADER = NO
GCC_PREFIX_HEADER = TestApp-OSX/TestApp-OSX-Prefix.pch

//:configuration = Debug
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

//:configuration = Debug
INFOPLIST_FILE = TestApp-OSX/TestApp-OSX-Info.plist

MACOSX_DEPLOYMENT_TARGET = 10.8
