

// DEBUG settings

XCODE_BUILD_SUPPORT_DEBUG = DEBUG=1

GCC_OPTIMIZATION_LEVEL = 0
ONLY_ACTIVE_ARCH = YES
RUN_CLANG_STATIC_ANALYZER = NO
COPY_PHASE_STRIP = NO

GCC_WARN_UNINITIALIZED_AUTOS = NO
GCC_WARN_UNUSED_FUNCTION = NO
GCC_WARN_UNUSED_LABEL = NO
GCC_WARN_UNUSED_PARAMETER = NO
GCC_WARN_UNUSED_VALUE = NO
GCC_WARN_UNUSED_VARIABLE = NO

ENABLE_NS_ASSERTIONS = YES

VALIDATE_PRODUCT = NO
