
// this is here because of limitations in how the config stuff works with overriding values

XCODE_BUILD_SUPPORT_PREPROCESSOR_DEFINITIONS = $(XCODE_BUILD_SUPPORT_SETTINGS) $(XCODE_BUILD_SUPPORT_DEBUG) $(XCODE_BUILD_SUPPORT_EXTRA_PREPROCESSOR)

GCC_PREPROCESSOR_DEFINITIONS = $(INHERITED) $(XCODE_BUILD_SUPPORT_PREPROCESSOR_DEFINITIONS)
