//
//  FishLamp-Objc-Test-iOS-ARC.xcconfig
//  FishLamp-Objc
//
//  Created by Mike Fullerton on 9/9/13.
//  Copyright (c) 2013 Mike Fullerton. All rights reserved.
//

#include "Piecemeal-XcodeConfigs/TargetSettings/Piecemeal-TargetSettings-iOS-ARC.xcconfig"

//GCC_PRECOMPILE_PREFIX_HEADER = YES
//GCC_PREFIX_HEADER = FishLamp-Objc-Test-iOS/FishLamp-Objc-iOS-ARC-Prefix.pch
//
//INFOPLIST_FILE = FishLamp-Objc-Test-iOS/FishLamp-Objc-Test-iOS-Info-plist

