//
//  Created by Mike Fullerton on 7/11/12.
//  Copyright (c) 2013 GreenTongue Software LLC, Mike Fullerton. 
//  This file is released under the MIT License: http://fishlamp.com/license 
//

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = FishLamp-Objc-Lib/FishLamp-Objc-Lib-Prefix.pch

MACH_O_TYPE = staticlib
EXECUTABLE_PREFIX = lib
EXECUTABLE_EXTENSION = a

HEADER_SEARCH_PATHS = $(inherited) ../**
