//
//  FishLamp-Objc-Test-OSX-32-MRC.xcconfig
//  FishLamp-Objc
//
//  Created by Mike Fullerton on 9/9/13.
//  Copyright (c) 2013 Mike Fullerton. All rights reserved.
//

#include "Piecemeal-XcodeConfigs/TargetSettings/Piecemeal-TargetSettings-OSX-32-MRC.xcconfig"
#include "FishLamp-Objc-Test-OSX/SharedTargetSettings.xcconfig"
