//
//  SharedTargetSettings.xcconfig
//  FishLamp-Objc
//
//  Created by Fullerton, Mike on 9/9/13.
//  Copyright (c) 2013 Mike Fullerton. All rights reserved.
//

#include "Piecemeal-XcodeConfigs/Configs/Piecemeal-IncludedConfig-TestTool.xcconfig"

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = FishLamp-Objc-Test-OSX/FishLamp-Objc-Test-Prefix.pch
